{% extends "layout.html" %}
{% block content %}
<head>
    <link rel=stylesheet href="../static/css/top.css">
</head>
<main>
    <h1 class="content_title"></h1>
    <div class="content">
        <div class="imgtxt">
            <img src="../static/images/meercat_done.png">
            <p>読んでミーア！</p>
        </div>
        <h1 style="text-align: center;">まだ知らない漫画に、出会おう。</h1>
        <div class="start_btn">
            <button onclick="location.href='/input'">Start</button>
        </div>
    </div>
</main>

{% endblock %}